@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
  }
  
  .react-calendar__tile--active {
    background: black !important;
  }

